/**
 * @file donors-and-orgs.scss
 * @overview includes donor/org overview pages, edit profile, MY DASHBOARD partial, HOW TO HELP partial
 */

@import 'compass';
@import 'mixins';

.my-dash {
    width: 318px;
    float: left;
    clear: left;

    h2 {
        height: 28px;
        text-transform: uppercase;
        padding-left: 8px;
        padding-top: 8px;
        background-color: #93d2af;
        color: #44372b;
        font-family: "st-marie";
        font-size: 18px;
        font-weight: 600;
        margin: 0;

        .org & {
            background-color: #b8b713;
        }
    }

    a {
        background-color: #fff;
        color: #44372b;
        display: block;
        clear: left;
        height: 37px;
        border-bottom: 1px solid #cfbe92;
        padding-top: 8px;
        padding-left: 8px;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;

        .org & {
            color: #44372b;
        }
        &:hover {
            color: #a8a70f;
            cursor: pointer;

            .org & {
                color: #93d2af;
            }
        }
    }
    .active a {
        background-color: #efe7d3;

        &:hover {
            color: #44372b;
        }
    }
}

.donation-overview {
    // this in donor overview only

    position: relative;
    float: right;
    margin-bottom: 20px;
    width: 430px;

    h3 {
        @include box-sizing(border-box);
        @include reset-box-model;
        background-color: #93d2af;
        float: right;
        font-size: 13px;
        font-weight: bold;
        height: 30px;
        margin-top: 15px;
        padding: 7px 0 0 10px;
        width: 100%;
    }

    a {
        float: right;
        padding-right: 15px;
    }

    ul li {
        @include box-sizing(border-box);
        clear: right;
        border-bottom: 1px solid #CFBE92;
        font-size: 12px;
        height: 95px;
        padding-top: 10px;

        h4 {
            @include reset-box-model;
            font-weight: bold;
        }
        span, h4 {
            clear: both;
            float: left;
            font-size: 12px;
            line-height: 18px;
            padding-left: 15px;
        }
    }
}

.wishlist-overview {
    // this in org overview only

    margin-top: 17px;
    margin-bottom: 80px;
    overflow: auto;

    .summary {
        @include box-sizing(border-box);
        background-color: #EFE7D3;
        display: inline-block;
        width: 300px;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
        margin-right: 20px;

        span {
            font-weight: bold;
        }
    }
    a {
        color: #93d2af;
        margin-right: 10px;
    }
    ul li {
        clear: right;
        float: right;
    }
}

.profile-summary {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 10px;

    & > p {
        font-size: 14px;
        color: #44372b;
    }
}

.avatar {
    height: 75px;
    margin-bottom: 10px;
    width: 75px;

    border: 1px solid #d2c298;
    clear: left;
}

// these class names come from rails -- can't be changed
.edit_donor,
.edit_organization {
    @include box-sizing(border-box);
    background-color: #f5f0e2;
    float: right;
    padding: 25px 85px 25px 35px;
    margin-top: 10px;
    width: 485px;

    label {
        display: inline-block;
        width: 70px;
    }
    input[type=text] {
        height: 25px;
        width: 282px;
    }
    textarea {
        resize: vertical;
        height: 150px;
        width: 282px;
    }
    .field {
        margin-bottom: 13px;

        .address-label {
            position: relative;
            top: 8px;
        }
        .checkbox-label {
            width: 90%;
        }
        .bio-label {
            float: left;
            position: relative;
            top: 5px;
            width: 75px;
        }
        .avatar-label {
            position: relative;
            top: 5px;
        }
    }
    input[type=submit] {
        @include green-button;
        height: 30px;
        width: 100px;
        margin-left: 77px;
    }
}

.edit_organization {
    padding-right: 25px;

    .field {
        label {
            width: 130px;
        }
        .bio-label {
            width: 135px;
        }
    }
    input[type=submit] {
        @include teal-button;
        margin-left: 137px;
    }
}

aside.edit-sidebar {
    float: left;
    margin-top: 10px;

    .back-to-overview {
        @include box-sizing(border-box);
        float: left;
        display: block;
        background-color: #b8b713;
        width: 130px;
        height: 27px;
        color: #fff;
        font-size: 10px;
        font-weight: 100;
        padding: 7px;
        margin-bottom: 10px;

        .org & {
            background-color: #93d2af;
        }
        &:hover {
            opacity: 0.9;
        }
    }
}

.org_dash_list_heading {
    height: 40px;
    margin-top: 20px;
    background-color: #b8b713;
}

.org_dash_list_heading .heading-text {
    font-size: 110%;
}
.org_dash_list_heading span {
    padding: 12px 30px;
}
.org_dash_list_heading .heading-text {
    padding-left: 20px;
}

.progress_bar {
    border: 1px solid black;
    background-color: #fff;
    width: 80px;
    height: 10px;
}

.progress {
    height: 100%;
    width: 50%;
    background-color: #f26a5a;
}