.page-footer {
	clear: both;
	margin-top: 100px;

    nav {
        padding-left: 10px;

        li {
            display: inline;
        }

        li a {
            color: #333333;
            font-size: 12px;
            font-family: "Lucida Grande";
            font-weight: 100;

            padding-right: 25px;
        }
    }

    hr {
        background-color: #8f8780;
        color: #8f8780;
        margin-bottom: 50px;
    }
}