.page-header {
	position: relative;
	width: 964px;

    .account-links {
        float: right;
        right: 0;

        li {
            color: #a8a70f;
            display: inline;
        }
        .separator {
            padding: 0 5px;
        }
    }

    nav {
        bottom: 15px;
        position: absolute;
        right: 0;

        li {
            display: inline;
        }

        a {
            color: #000000;
            font-family: "st-marie";
            font-size: 18px;
            margin-left: 27px;
            letter-spacing: -2px;
            font-weight: 700;

            &:hover {
                color: #a8a70f;
            }
        }
    }

    hr {
        color: #44372b;
        background-color: #44372b;
    }
}