/**
 * @file item-offers.scss
 * @overview includes everything about item-offers, including the search item-offers partial
 */

@import 'compass';
@import 'mixins';
@import 'variables';

.my-item-offers-page,
.item-offer-board {
    .item-offers li {
        @include box-sizing(border-box);
        overflow: hidden;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #dcd0b0;

        .delimiter {
            color: #dcd0b0;
        }

        .item-image {
            display: inline-block;
            height: 50px;
            width: 50px;
            border: 1px solid #d2c298;
            margin-right: 15px;
            vertical-align: top;
        }
    }
}

.my-item-offers-page {
    h3 {
        @include box-sizing(border-box);
        height: 40px;
        margin-top: 20px;
        margin-bottom: 0;
        background-color: #93d2af;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: normal;
        padding-left: 20px;
        padding-top: 12px;

        .count {
            font-size: 13px;
            text-transform: none;
            padding-right: 30px;
            float: right;
        }
    }
    .item-offers li {
        min-height: 95px;
        padding: 20px;

        .item-info {
            @include box-sizing(border-box);
            position: absolute;
            min-height: 52px;
            width: 70%;
            top: 18px;
            left: 90px;
            overflow: hidden;
            float: left;
            padding-right: 20px;

            .name {
                font-weight: bold;
            }
            p {
                margin: 0;
                margin-bottom: 7px;
            }
        }
        a {
            position: absolute;
            right: 20px;
            top: 40%;
        }
    }
}

.item-offer-board {
    .item-offers li {
        min-height: 100px;
        padding: 20px 20px 10px;

        .item-info {
            display: inline-block;
            margin-top: -2px;
            width: 405px;

            p {
                @include reset-box-model;
            }
            .summary {
                margin: 3px 0;
                .label {
                    font-weight: bold;
                }
            }
        }
        a {
            position: absolute;
            right: 30px;
            top: 38px;

            &.request-item {
                $line-height: 16px;
                $button-height: 30px;
                @include box-sizing(border-box);
                background-color: $org-link-color;
                color: #fff;
                display: block;
                font-weight: normal;
                line-height: $line-height;
                padding-top: floor(($button-height - $line-height) / 2); // vertical align
                text-align: center;
                text-transform: uppercase;
                top: 35px;
                height: $button-height;
                width: 105px;

                &:hover {
                    opacity: 0.85;
                }
            }
        }
    }
}

.item-offer-detail,
.request-item-detail {
    margin: 25px 25px 45px;

    h3 {
        $line-height: 16px;
        $header-height: 40px;
        @include box-sizing(border-box);
        background-color: #c3c23b;
        color: #44372b;
        font-size: 14px;
        line-height: $line-height;
        padding-top: floor(($header-height - $line-height)/2); // vertical-align
        padding-left: 20px;
        text-transform: uppercase;
        height: $header-height;
        width: 670px;
    }
    .img-frame {
        float: left;
        width: 100px;
        height: 100px;
        border: 1px solid #d2c298;
        margin: 0 20px;
    }
    .details span {
        font-weight: bold;
    }
    .name {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
    }
}

.item-offer-detail {
    h3 {
        margin: 20px 0 30px 0;
        background-color: #93d2af;
        color: #3b261c;
    }
}

.request-item-detail {
    h3 {
        background-color: #c3c23b;
        color: #44372b;
    }
    .details {
        margin-left: 142px; // TODO: use sass vars for better stability

        .description {
            font-weight: normal;
            margin-top: 5px;
            position: relative;
            top: 5px;
        }
    }
    form {
        margin-top: 50px;
        .comment {
            margin-left: 142px;

            label {
                font-weight: bold;
                margin-right: 8px;
                position: relative;
                top: 11px;
                vertical-align: top;
            }
            textarea {
                height: 150px;
                width: 375px;
            }
        }
        p, .cancel {
            margin-left: 20px;
        }
        p {
            font-weight: bold;
            margin-bottom: 25px;
        }
        .cancel {
            @include cancel-button;
            display: inline-block;
            margin-right: 15px;
        }
        input[type=submit] {
            @include teal-button;
            display: inline-block;
            height: 34px;
            width: 120px;
        }
    }
}

.org_item_offer_overlay > .header {
    background-color: #c3c23b;
}

.item-offer-overview {
    img {
        margin-top: 10px;
    }
    hr {
        margin: 20px 0;
    }

    .options {
        margin-top: 25px;
        text-align: center;

        > * {
            @include green-button;
            display: inline-block;
            height: 34px;
            padding-top: 6px;
        }
        .post-item-offer {
            margin-right: 30px;
            width: 160px;
        }
        .fulfill-wishlist {
            width: 170px;
        }
    }

     #fulfill_wishlist_button {
        width: 170px;
        height: 30px;
        box-sizing: border-box;
        padding-top: 6px;
     }

     #fulfill_wishlist_button_container {
        position: absolute;
        right: 20%;
        top: 15px;
     }

     #post_item_offer_button {
        width: 160px;
        height: 30px;
        box-sizing: border-box;
        padding-top: 6px;
     }

     #post_item_offer_button_container {
        position: absolute;
        left: 20%;
        top: 15px;
     }
}

.new-item-offer {
    img {
        margin-top: 10px;
    }
    .info {
        padding: 15px 60px 10px 30px;
    }
    .content-box {
        margin: 0;
        padding-top: 25px;
    }
    form {
        label {
            display: block;
            width: 150px;
            float: left;
            padding-top: 8px;
        }
        input[type=text] {
            height: 25px;
        }
        .field {
            margin-bottom: 10px;
        }
        .item-title {
            width: 390px;
        }
        .item-description {
            resize: vertical;
            width: 392px;
        }
        .item-category,
        .item-condition {
            width: 165px;
            margin-top: 6px;
        }
        .item-expiry,
        .item-zip,
        .item-estimated-value {
            width: 145px;
        }
        .item-img {
            margin-top: 8px;
        }
        input[type=submit] {
            @include green-button;
            margin-top: 40px;
            height: 33px;
            width: 100px;
        }
    }
}

.search-item-offers {
    $form-height: 465px;
    $header-height: 40px;
    float: left;
    margin-bottom: 20px;
    width: 315px;

    h4 {
        @include reset-box-model;
        @include box-sizing(border-box);
        background-color: #cfbe92;
        padding-left: 18px;
        padding-top: 10px;
        font-family: "st-marie";
        font-size: 16px;
        height: $header-height;
        width: 100%;
    }
    form {
        @include box-sizing(border-box);
        background-color: #f4eee0;
        height: $form-height - $header-height;
        padding: 18px;

        label.search-for {
            font-weight: bold;
        }
        hr {
            margin: 25px 0;
        }
        input[type=text] {
            height: 25px;
            margin-top: 5px;
            width: 273px;
        }
        .search-category,
        .search-condition {
            display: block;
            margin-top: 10px;
            margin-bottom: 25px;
            width: 125px;
        }
        .city-state {
            input[type=text] {
                width: 140px;
            }
        }
        .zip-miles {
            input[type=text] {
                margin: 8px 0 0 20px;
                width: 103px;
            }
        }
        .city-state select,
        .zip-miles select {
            margin-left: 5px;
            width: 80px;
        }
        input[type=submit] {
            @include green-button;
            float: right;
            margin-top: 30px;
            height: 30px;
            width: 100px;

            .org & {
                @include teal-button;
            }
        }
    }
}
