/**
 * @file item-offers.scss
 * @overview includes everything about item-offers, including the search item-offers partial
 */

@import 'compass';
@import 'mixins';

.my-item-offers-header {
    @include box-sizing(border-box);
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #93d2af;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 12px;

    .count {
        font-size: 13px;
        text-transform: none;
        padding-right: 30px;
        float: right;
    }
}

.my-item-offers {
    li {
        @include box-sizing(border-box);
        height: 95px;
        overflow: auto;
        position: relative;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #dcd0b0;
    }

    .item-image {
        height: 50px;
        width: 50px;
        border: 1px solid #d2c298;
        margin-right: 15px;
    }

    .item-info {
        @include box-sizing(border-box);
        position: absolute;
        height: 52px;
        width: 70%;
        top: 18px;
        left: 90px;
        overflow: hidden;
        float: left;
        padding-right: 20px;

        .name {
            font-weight: bold;
        }
        p {
            margin: 0;
            margin-bottom: 7px;
        }
    }

    a {
        position: absolute;
        right: 20px;
        top: 40%;
    }
}

.item-offer-detail {
    margin: 25px 25px 35px;

    h3 {
        height: 35px;
        padding: 10px 0 0 20px;
        margin: 20px 0 30px 0;
        width: 680px;

        background-color: #93d2af;
        box-sizing: border-box;
        color: #3b261c;
        font-size: 14px;
        font-weight: normal;
    }
    .img-frame {
        float: left;
        width: 100px;
        height: 100px;
        border: 1px solid #d2c298;
        margin: 0 20px;
    }

    .details span {
        font-weight: bold;
    }
    .name {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
    }
}

.search-item-offers {
    $form-height: 465px;
    $header-height: 40px;
    float: left;
    margin-bottom: 20px;
 	width: 315px;

    h4 {
        @include reset-box-model;
        @include box-sizing(border-box);
        background-color: #cfbe92;
        padding-left: 18px;
        padding-top: 10px;
        font-family: "st-marie";
        font-size: 16px;
        height: $header-height;
        width: 100%;
    }
    form {
        @include box-sizing(border-box);
        background-color: #f4eee0;
        height: $form-height - $header-height;
        padding: 18px;

        label.search-for {
            font-weight: bold;
        }
        hr {
            margin: 25px 0;
        }
        input[type=text] {
            height: 25px;
            margin-top: 5px;
            width: 273px;
        }
        .search-category,
        .search-condition {
            display: block;
            margin-top: 10px;
            margin-bottom: 25px;
            width: 125px;
        }
        .city-state {
            input[type=text] {
                width: 140px;
            }
        }
        .zip-miles {
            input[type=text] {
                margin: 8px 0 0 20px;
                width: 103px;
            }
        }
        .city-state select,
        .zip-miles select {
            margin-left: 5px;
            width: 80px;
        }
        input[type=submit] {
            @include green-button;
            float: right;
            margin-top: 30px;
            height: 30px;
            width: 100px;

            .org & {
                @include teal-button;
            }
        }
    }

    #search_item_button {
        margin-top: 10px;
    }
}

#item_offer_buttons {
 	position: relative;
}


 /*    BUTTONS    */

 #fulfill_wishlist_button {
 	width: 170px;
 	height: 30px;
 	box-sizing: border-box;
 	padding-top: 6px;
 }

 #fulfill_wishlist_button_container {
	position: absolute;
	right: 20%;
	top: 15px;
 }

 #post_item_offer_button {
 	width: 160px;
 	height: 30px;
 	box-sizing: border-box;
 	padding-top: 6px;
 }

 #post_item_offer_button_container {
 	position: absolute;
 	left: 20%;
 	top: 15px;
 }



 /*    FORM    */

#new_item_offer_container label {
	display: block;
	width: 150px;
	float: left;
	padding-top: 8px;
}

#new_item_offer_container input {
	min-height: 20px;
	margin-bottom: 8px;
}

#item_title_text_field {
	width: 385px;
}

#item_description_text_area {
	width: 385px;
}

#item_offer_category {
	width: 165px;
	height: 20px;
	margin-top: 6px;
}

#item_offer_condition {
	width: 165px;
	height: 20px;
	margin-top: 6px;
}

#item_offer_expiration_date {
	width: 145px;
	height: 20px;
}

#item_offer_zip {
	width: 145px;
	height: 20px;
}

#item_offer_estimated_value {
	width: 145px;
	height: 20px;
}

.request_item_link {
    display: block;
    background-color: #93d2af;
    color: #fff;
    padding: 5px 10px;
    font-weight: 100;
}

.request_item_link:hover {
    opacity: 0.9;
}

.org_item_offer_overlay {
    box-sizing: border-box;
    border-radius: 5px;
    width: 630px;
    padding: 0 0 30px 40px;
    overflow: hidden;
}

.org_item_offer_overlay > .header {
    background-color: #c3c23b;
}

#donate_items_text {
    padding: 15px 50px 10px 20px;
}