/**
 * @file wishlists.scss
 * @overview includes everything about wishlists
 */

 @import 'compass';
 @import 'mixins';
 @import 'variables';

.my-wishlists-page,
.wishlist-board {
    .wishlists {
        li {
            @include box-sizing(border-box);
            border-bottom: 1px solid #dcd0b0;
            min-height: 100px;
            overflow: hidden;
            padding: 20px;
            position: relative;

            .wishlist-image {
                display: inline-block;
                height: 50px;
                width: 50px;
                border: 1px solid #d2c298;
                margin-right: 15px;
                vertical-align: top;
            }
            .wishlist-info {
                @include box-sizing(border-box);
                position: absolute;
                min-height: 52px;
                width: 70%;
                top: 18px;
                left: 90px;
                overflow: hidden;
                float: left;
                padding-right: 20px;

                .name {
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    margin-bottom: 7px;
                }
            }
            a {
                position: absolute;
                right: 20px;
                top: 42px;
            }
        }
    }
}

.my-wishlists-page {
    > img {
        margin: 10px 0;
    }
    .new-wishlist-button {
        $line-height: 16px;
        $btn-height: 34px;
        @include teal-button;
        line-height: $line-height;
        margin-top: 25px;
        padding: floor(($btn-height - $line-height - 4)/2);
        text-transform: uppercase;
        height: $btn-height;
        width: 195px;

        .body & { // overrides
            font-size: 14px;
        }
    }
}

.wishlist-detail {
    margin: 25px 25px 55px;
    overflow: hidden;

    h3 {
        $line-height: 16px;
        $header-height: 40px;
        @include box-sizing(border-box);
        background-color: #44372b;
        color: #fff;
        font-size: 14px;
        line-height: $line-height;
        padding-top: floor(($header-height - $line-height)/2); // vertical-align
        padding-left: 20px;
        text-transform: uppercase;
        height: $header-height;
        width: 670px;
    }
    .org-info {
        float: left;

        .img-frame {
            width: 125px;
            height: 125px;
            border: 1px solid #d2c298;
        }
        p {
            color: $org-link-color;
            font-size: 13px;
            font-weight: bold;
            margin-top: 17px;

            span {
                color: #393939;
                font-size: 11px;
                font-weight: normal;
            }
        }
    }
    .wishlist-info {
        float: right;
        width: 465px;

        h4 {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 10px;
        }
        h5 {
            @include box-sizing(border-box);
            $height: 40px;
            $line-height: 16px;
            background-color: #f3eedf;
            font-size: 13px;
            font-weight: bold;
            line-height: $line-height;
            margin: 0;
            padding-top: floor(($height - $line-height)/2);
            padding-left: 20px;
            height: $height;
            width: 100%;

            span {
                font-weight: normal;

                .amount-raised {
                    color: $org-link-color;
                    font-weight: bold;
                    margin-left: 40px;
                }
            }
        }
    }
}

.new-wishlist-page {
    .content-box {
        margin: 10px 0 0;
        padding-top: 25px;
    }
    form {
        label {
            display: block;
            width: 150px;
            float: left;
            padding-top: 8px;
        }
        input[type=text] {
            height: 25px;
        }
        .field {
            margin-bottom: 10px;
        }
        .item-title {
            width: 390px;
        }
        .item-description {
            resize: vertical;
            width: 392px;
        }
        .item-category,
        .item-condition {
            width: 165px;
            margin-top: 6px;
        }
        .item-expiry,
        .item-zip,
        .item-estimated-value {
            width: 145px;
        }
        .item-img {
            margin-top: 8px;
        }
        input[type=submit] {
            @include teal-button;
            margin-top: 40px;
            height: 33px;
            width: 100px;
        }
    }
}

.search-wishlists {
    $form-height: 500px;
    $header-height: 40px;
    float: left;
    margin-bottom: 20px;
    width: 315px;

    h4 {
        @include reset-box-model;
        @include box-sizing(border-box);
        background-color: #cfbe92;
        padding-left: 18px;
        padding-top: 10px;
        font-family: "st-marie";
        font-size: 16px;
        height: $header-height;
        width: 100%;
    }
    form {
        @include box-sizing(border-box);
        background-color: #f4eee0;
        height: $form-height - $header-height;
        padding: 18px;

        label.search-for {
            font-weight: bold;
        }
        hr {
            margin: 25px 0;
        }
        input[type=text] {
            height: 25px;
            margin-top: 5px;
            width: 273px;
        }
        input[type=submit] {
            @include green-button;
            float: right;
            height: 34px;
            width: 114px;

            .org & {
                @include teal-button;
            }
        }
        .date-fields {
            margin-bottom: 25px;

            .dates-label {
                display: block;
            }
            .to-label {
                margin: 0 20px;
            }
            input[type=text] {
                width: 75px;
            }
        }
        .category-fields {
            margin-bottom: 25px;

            > * {
                display: block;
            }
            .category {
                width: 165px;
            }
            .subcategory {
                width: 125px;
            }
            > select {
                margin-top: 10px;
            }
        }
        .city-state {
            label {
                display: block;
            }
            input[type=text] {
                width: 140px;
            }
            select {
                width: 80px;
            }
        }
        .zip-miles {
            margin-bottom: 25px;

            label {
                margin: 0 5px;
            }
            input[type=text] {
                width: 113px;
            }
            select {
                width: 80px;
            }
        }
    }
}