<div class="teal-heading-banner">DONOR PROFILE</div>

<aside class="edit-sidebar">
  <%= link_to "< BACK TO OVERVIEW", donor_overview_path, class: "back-to-overview" %>
  <div class="avatar">
        <% if @donor.avatar_file_name.present? %>
            <%= image_tag @donor.avatar.url(:thumb) %>
        <% end %>
    </div>
</aside>

<%= render 'edit-form' %>
