<div class="dash_content float_right">

    <div class="dash_heading heading_label">FINANCIAL DONATIONS</div>

    <table class="latest_financial_donations">
        <tr class="top_total">
            <td colspan="3">You have donated a total of $180.00.</td>
        </tr>
        <tr>
            <td id="donation_table_header" colspan="3">My Latest Financial Donations</td>
        </tr>

        <tr class="odd_row">
            <td>04/18/11</td>
            <td>$20.00</td>
            <td>Lucky Dog Rescue</td>
        </tr>
        <tr class="even_row">
            <td>03/22/11</td>
            <td>$10.00</td>
            <td>Cats Humane Society</td>
        </tr>
        <tr class="odd_row">
            <td>02/01/11</td>
            <td>$50.00</td>
            <td>All Creatures Animal Shelter</td>
        </tr>
        <tr class="even_row">
            <td>01/25/11</td>
            <td>$20.00</td>
            <td>Paws for Cause Rescue</td>
        </tr>
        <tr class="odd_row">
            <td>01/22/11</td>
            <td>$10.00</td>
            <td>Golden Retrievers Sanctuary</td>
        </tr>
        <tr class="even_row">
            <td>12/01/10</td>
            <td>$50.00</td>
            <td>Love for Pets Rescue</td>
        </tr>
        <tr class="odd_row">
            <td>11/18/10</td>
            <td>$20.00</td>
            <td>Coshocton Country Humane Society</td>
        </tr>
        <tr class="bottom_total">
            <td colspan="3">Total: $180.00</td>
        </tr>
    </table>

    <%= link_to "Donate Now" %>
</div>