<%= image_tag('about3/Henry Photo by Sarahbeth Photography.png', class: 'wide-photo') %>

<div class="teal-heading-banner">Contact the creators</div>

<div class="content-box">
    <div class="contact-content">
        <p class="bold">Want Spared promo items to set out at your office? Have a comment or suggestion for us?<br/>Email us anytime!</p>
        <%= render 'contact-form' %>
    </div>

	<div class="home-picture-wrapper">
		<%= image_tag("about3/Layer 2.png") %>
		<p class="caption">Rachael's newest dog addition, Daisy</p>
	</div>
</div>