<%= image_tag("about2/Coco Photo by Sarahbeth Photography.png", :class => 'wide_photo') %>

<div class="teal-heading-banner">Frequently asked questions</div>

<div class="content-box">
    <div class="questions">
        <p>
            <span class="question">Who does Spared help?</span><br/>
            Spared helps dogs and cats via nonprofit animal organizations. By donating the supplies and
            funds an animal organization needs to operate, shelter volunteers can spend less time managing
            operations, and animals receive the love and care they need.
        </p>

        <p><span class="question">Can I donate items instead of a cash donation?</span></p>
        <p><span class="question">Can I partially fund a wishlist?</span></p>
        <p><span class="question">Are donations made through Spared.org tax deductible?</span></p>
        <p><span class="question">Is my online donation secure?</span></p>
        <p><span class="question">Is there a minimum donation?</span></p>
        <p><span class="question">Should I offer to ship my items?</span></p>

        <br/><br/>

        <p class="big">Have another question?</p>
        <p>Send us an email: <%= link_to 'info@spared.org' %></p>
    </div>

	<div class="home-picture-wrapper">
		<%= image_tag("about2/Layer 3.png") %>
		<p class="caption">Sarah's Shih Tzu, Coco Bean</p>
	</div>
</div>