<div class="dash-content donate-money-overview">
	<div class="brown-heading-banner">Donate money</div>
	
	<%= image_tag ('donate-money/Shadow Photo by Blue Mutt Photography.png') %>
	
	<div class="content-box">
		<p class="preamble">
			Donate to the animal organizations Spared selects for you.<br/>
			We select the organizations needing the most help on a weekly basis.
		</p>
		
		<%= render :partial => 'donor-form' %>
	</div>
</div>