/*
 * donors.css
 *
 * Stylesheet for registration form, login form, and view/edit profile.
 */


#register_frame {
	width: 396px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}


#register_disclaimer {
	padding-left: 130px;
	line-height: 0.8;
	font-size: 0.9em;
}

.my_dash_link {
    display: block;
    clear: left;
    height: 37px;
    border-bottom: 1px solid #cfbe92;
    padding-top: 8px;
    padding-left: 8px;
    font-weight: 500;
    font-size: 13px;
    color: #44372b;
    line-height: 17px;
}


.register_textfield {
	width: 288px;
	height: 23px;
	border: 1px solid #777777;
	border-radius: 1px;
}

.register_label {
	width: 70px;
  	float: left;
  	text-align: left;
  	margin-right: 10px;
  	margin-top: 20px;
  	display: block;
  	font-size: 0.9em;
}

.my_dash {
    width: 33%;
    float: left;
    clear: left;
}

.my_dash_heading {
    height: 28px;
    text-transform: uppercase;
    padding-left: 8px;
    padding-top: 8px;
    background-color: #93d2af;
    color: #44372b;
    font-family: "st-marie";
    font-size: 18px;
    font-weight: 600;
}

.my_dash_link:hover p {
    color: #a8a70f;
    cursor: pointer;
}

.profile_summary {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.profile_summary > p {
    font-size: 14px;
    color: #44372b;
}

.donation_overview {
    position: relative;
    width: 67%;
    float: right;
    margin-top: 15px;
}
.donation_overview li {

}
.donation_overview span {
    float: left;
    clear: both;
    line-height: 18px;
    padding-left: 15px;
}
.donation_overview a {
    padding-right: 15px;
}
.donation_overview_header {
    background-color: #86c4a2;
    height: 30px;
}
.donation_overview_header p {
    padding: 7px 0 0 10px;
}
.items_overview {
    background-color: #F5F0E2;
}
.financial_donation_overview {
    background-color: #EFE7D3;
}
.events_overview {
    background-color: #F5F0E2;
}

.items_overview, .financial_donation_overview, .events_overview {
    height: 95px;
    border-bottom: 1px solid #CFBE92;
}

.teal_mini_footer {
    height: 10px;
    width: 100%;
    background-color: #93d2af;
    clear: both;
}

.dash_list_heading {
    height: 40px;
    margin-top: 20px;
    background-color: #93d2af;
}
.dash_list_heading span {
    padding: 10px 30px;
}

.latest_financial_donations {
    margin: 20px 0;
    width: 100%;
}
.latest_financial_donations tr td {
    padding: 5px 20px;
}

.even_row {
    background-color: #EFE7D3;
}
.odd_row {
    background-color: #F5F0E2;
}

#donation_table_header {
    background-color: #F5F0E2;
    padding: 15px 20px;
}
.latest_financial_donations .top_total,
.latest_financial_donations .bottom_total {
    background-color: #93d2af;
    font-weight: bold;
    height: 30px;
}

.latest_financial_donations .bottom_total {
    text-align: right;
}

.my_calendar h2 {
    text-align: center;
    margin: 5px 0;
}

.my_calendar {
    border: 15px solid #EFE7D3;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
}

.my_events_header {
    padding-left: 30px;
    font-size: 14px;
}

.donor_sign_in {
    background-color: #B8B713;
    height: 33px;
    width: 92px;
    float: right;
    border: 2px solid #FFF;
    outline: 2px solid #B8B713;
    margin: 25px 23px 0 0;
    font-size: 13px;
    clear: right;

}

.spared_button {
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
}
.spared_button:hover {
    opacity: 0.8;
}

.forgot_password_link {
    float: right;
    padding-right: 23px;
    margin-top: 5px;
    font-size: 12px;
    color: #BCBC22;
    font-weight: 100;
}

.remember_me {
    margin: 20px 0 0 15px;;
    float: left;
}