/*
 * donors.css.scss
 *
 * Stylesheet for registration form, login form, and view/edit profile.
 */
 
@import "variables";

/*    DIVS    */

#register_frame {
	width: 430px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}


/*    FONTS    */

#register_disclaimer {
	padding-left: 130px;
	line-height: 0.8;
}

 
/*    FORMS    */

.register_textfield {
	width: 300px;
	height: 20px;
}

.register_label {
	width: 70px;
  	float: left;
  	text-align: left;
  	margin-right: 40px;
  	margin-top: 20px;
  	display: block
}

.register_button {
	margin-left: 90px;
}