/*
 * header.css
 *
 * Stylesheet for "footer.html.erb".
 */
 

/*    DIVS    */

#footer_container {
	clear: both;
	margin-top: 100px;
}

#footer_nav_links {
	padding-left: 10px;
}


/*    FONTS    */

.footer_nav_link {
	color: #333333;
	font-size: 12px;
	font-family: "Lucida Grande";
	font-weight: 100;
	
	padding-right: 25px;
}


/*    MISC    */

.footer_line {
	color: #8f8780;
	background-color: #8f8780;
}