/*
 * header.css
 *
 * Stylesheet for "header.html.erb".
 */
 
 
/*    DIVS    */

#header_container {
	position: relative;
	width: 964px;
}

#login_links_container {
	position: absolute;
	right: 0px;
	float: right;
}

#nav_bar {
	position: absolute;
	bottom: 15px;
	right: 0px;
}


/*    FONTS    */

.login_link {
	color: #a8a70f;
}

.nav_link {
	color: #000000;
	font-family: "st-marie";
	font-size: 18px;
	margin-left: 27px;
	letter-spacing: -2px;
	font-weight: 700;
}

.nav_link:hover {
	color: #a8a70f;
}


/*    MISC    */

.header_line {
	color: #44372b;
	background-color: #44372b;
}