/*
 * home.css
 *
 * Stylesheet for home page (when not signed in), about page, faqs page, contact page, and shop page.
 */


/*    DIVS    */

#slideshow_container {
	margin-top: 30px;
	margin-bottom: 30px;
}

#home_flow_chart {

}

.content_text_wrapper {
	padding: 10px 0px 30px 30px;
	line-height: 21px;
	float: left;
	width: 63%;
}

.front_page {
	width: 90%;
}

.content_pic_wrapper {
	float: right;
	padding-top: 30px;
	padding-right: 30px;
}

#dash_content {
	padding-top: 20px;
}

.home_heading {
	width: 939px;
	height: 52px;
	text-transform: uppercase;
	background-color: #93d2af;
	color: #44372b;
	padding-left: 25px;
	padding-top: 18px;
}


/*    FONTS    */

.caption {
	clear: right;
	margin-top: 5px;
	margin-bottom: 20px;

	
	font-family: "Lucida Grande";
	font-size: 11px;
	line-height: 1.2;
	color: #44372b;
}

.link_question {
	display: block;
	line-height: 1.2;
}


/*    FORMS    */

.contact_textfield {
	width: 390px;
	height: 20px;
}

.contact_textarea {
	width: 390px;
	height: 100px;
	max-height: 400px;
	resize: vertical;
}

.contact_label {
	width: 50px;
  	float: left;
  	text-align: left;
  	margin-right: 40px;
  	margin-top: 5px;
  	display: block;
}

.contact_button {
	margin-left: 90px;
}

.contact_button:hover {
	opacity: 0.85;
}

.home_heading_label {
	color: #44372b;
	font-family: "st-marie";
	font-size: 29px;
	font-weight: 700;
}


/*    MISC    */

.home_flow_image {
	padding: 19px;
}

.home_flow_arrow {
	padding-bottom: 130px;
}

.slide_shown {
    position: absolute;
}
.slide_hidden {
    position: absolute;
}
.slideshow {
    position: relative;
    height: 360px;
}
.slideshow a {
    display: block;
    background-color: #B8B713;
    color: #fff;
    border: 2px solid #fff;
    outline: 2px solid #B8B713;
    width: 200px;
    height: 70px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 20px;
    font-family: "lucida grande";
    font-weight: 100;
    padding: 10px 20px;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
}

.slideshow a:hover {
    opacity: 0.9;
}