/*
 * sparedtheme.css
 *
 * This is the general stylesheet for SPARED.ORG. It is linked inside "application.html.erb" and it
 * styles every view.
 */


/*    DIVS    */

#page_frame {
	position: relative;
	width: 964px;
	min-height: 1000px;
	margin: 0 auto;
	margin-top: 60px;
}

.content_box {
	background-color: #f5f0e2;
	
	/* To accomodate floats: */
	overflow: auto;
	width: 100%;
}

.whitespace {
	height: 30px;
}

.small_whitespace {
	height: 15px;
}

.smaller_whitespace {
	height: 10px;
}



/*    FONTS    */

body {
	font-family: "Lucida Grande";
	font-size: 13px;
	color: #44372b;
}

p, a, li {
	
}

a {
    color: #a8a70f;
    font-weight: bold;
    font-size: 13px;
    font-family: "Lucida Grande";
    text-decoration: none;
}

.no_path_link {
	color: #a8a70f;
	font-weight: bold;
	font-size: 13px;
	font-family: "Lucida Grande";
	text-decoration: none;
}

li {
	padding-left: 10px;
	padding-bottom: 5px;
}

.heading_label {
	color: #333333;
	font-family: "st-marie";
	font-size: 24px;
	font-weight: 600;
}

.content_heading {
	color: #44372b;
	font-family: "Lucida Grande";
	font-size: 18px;
	font-weight: 500;
}

.content {
	color: #44372b;
	font-family: "Lucida Grande";
	font-size: 13px;
}

.big {
	font-family: "Lucida Grande";
	font-size: 14px;
	color: #44372b;
	line-height: 0.2;
}

.small {
	font-size: 12px;
}





/*    GENERAL    */

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear {
	clear: both;
}

.clear_left {
	clear: left;
}

.clear_right {
	clear: right;
}

.center {
	text-align: center;
}

.green_bg {
	background-color: #b8b713;
}

.brown_bg {
	background-color: #44372b;
}

.beige_bg {
	background-color: #cfbe92;
}

.beige_lighter_bg {
	background-color: #efe7d3;
}

.blue_lighter_bg {
	background-color: #93d2af;
}

.yellow_bg {
	background-color: #a8a70f;
}

.blue {
	color: #86c4a2;
}

.brown {
	color: #44372b;
}

.white {
	color: #ffffff;
}




/*    BUTTONS    */

.button {
	display: block;
	text-transform: uppercase;
	color: #fff;
	border: 0px;
	font-size: 100%;
	text-align: center;

	text-decoration: none;
	font-weight: 100;
}

.small_button {
	width: 92px;
	height: 28px;
}

.wide_button {
	width: 316px;
	height: 32px;
	font-size: 17px;
	padding-top: 12px;
}

.button_border {
	padding: 2px;
	opacity: 1.0;
	border: 2px solid;
}

.button_border:hover {
	opacity: 0.85;
}

.big_button_border {
	padding: 2px;
	border: 4px solid;
	height: 137px;
	width: 137px;
}

.big_button_border:hover {
	border-color: #b8b713;
}

.big_button_border_static {
	padding: 2px;
	border: 4px solid;
	height: 137px;
	width: 137px;
}

.green_border {
	border-color: #b8b713;
}

.brown_border {
	border-color: #44372b;
}

.beige_border {
	border-color: #cfbe92;
}

.blue_border {
	border-color: #93d2af;
}
	
#cancel_button {
	margin-right: 20px;
}

#cancel_link {
	padding-top: 5px;
	height: 23px;
}

#register_button {
	margin-right: 23px;
}




/*    MISC    */

hr {
	color: #44372b;
	background-color: #44372b;
}

.wide_photo {
	margin: 30px 0px 30px 0px;
}

.text_field {
	outline-color: #b8b713;
}