/*
 * sessions.css
 *
 * Stylesheet for login page and dashboard.
 */


/*    DIVS    */

#login_container {
	float: left;
	height: 260px;
	width: 320px;
	border: 2px solid #b4afa9;
	clear:left;
}

.dash_heading {
	height: 50px;
	text-transform: uppercase;
	background-color: #93d2af;
	color: #44372b;
	padding-left: 25px;
	padding-top: 20px;
}

.dash_brown_heading {
	width: 604px;
	height: 50px;
	text-transform: uppercase;
	background-color: #44372b;
	color: white;
	padding-left: 25px;
	padding-top: 20px;
}

.end_block {
	width: 629px;
	height: 8px;
}

#donate_items_text {
	padding: 15px 50px 10px 20px;
}

.dash_text_wrapper {
	background-color: #f5f0e2;
	padding: 10px 40px 30px 30px;
	line-height: 15px;
	width: 88%;
}

.dash_content {
	width: 65%;
}

.and_or_container {
	position: relative;
}



/*    TEXT    */

.forgot_password {
	float: right;
	margin-right: 23px;
	font-size: 12px;
	font-weight: 100;
	color: #b8b713;
	padding-top: 4px;
}

.small_dash_heading {
	color: #44372b;
	font-family: "st-marie";
	font-size: 18px;
	font-weight: 600;
}

.big_dash_heading {
	color: #44372b;
	font-family: "st-marie";
	font-size: 24px;
}

.my_dash_button_title {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	display: inline;
	color: #44372b;
	line-height: 10px;
}

.my_dash_button_text {
	display: inline;
	color: #44372b;
}

.and_or_text {
	margin: 8px;
	display: inline;
}




/*    FORMS    */

.login_label {
	width: 50px;
  	float: left;
  	text-align: left;
  	margin-right: 30px;
  	margin-left: 20px;
  	margin-top: 5px;
  	display: block
}


.login_textfield {
	width: 190px;
	height: 23px;
	border: 1px solid #777777;
}

#login_button {
	clear: right;
	margin-right: 23px;
	margin-top: 18px;
	font-size: $generic-font-size;
}

.donation_textfield {
	width: 135px;
	height: 25px;
}




/*    MISC    */

.dash_image {
	margin-right: 8px;
}

.and_or_line_left {
	border: 0;
	height: 1px;
	width: 240px;
	float: left;
	color: #d9cba8;
	background-color: #d9cba8;
}

.and_or_line_right {
	position: relative;
	top: -15px;
	border: 0;
	height: 1px;
	width: 240px;
	float: right;
	color: #d9cba8;
	background-color: #d9cba8;
}