/*    COLOR CONSTANTS    */

$black: #000000; 				/* Nav text */

$darkgray: #333333; 			/* Footer nav text */

$lightgray: #b4afa9;

$brown: #44372b; 				/* Generic text; nav images; rulers */

$beige: #cfbe92; 				/* Nav images */

$beige-lighter: #efe7d3;		/* Table even rows */

$beige-lightest: #f5f0e2; 		/* Table odd rows; text background */

$blue: #86c4a2;					/* Heading background; buttons */

$blue-lighter: #93d2af;			/* Heading background; buttons */

$pink: #f26a5a;					/* Alert text; notifications */

$yellow: #a8a70f;	/* Links */

$yellow-lighter: #b8b713;

$green: #b8b713;			/* Buttons */

$green-lighter: #c3c23b;	/* Header */


/*    FONT CONSTANTS    */

$generic-font-family: "Lucida Grande";
$generic-font-size: 13px;
$generic-line-height: 21px;

$large-font-size: 14px;

$heading-font-family: "Lucida Grande";
$heading-font-size: 18px;

$caps-heading-font-family: "st-marie";
$caps-heading-font-size: 24px;

$nav-font-family: "st-marie";
$nav-font-size: 18px;

$footer-nav-font-size: 12px;

$caption-font-size: 11px;
$caption-line-height: 1.2;


/*    OTHER CONSTANTS    */

$page-width: 964px;
$page-height: 1000px;
$page-margin-top: 60px;

$heading-padding: 20px 0px 0px 20px;