<div class="dash_content float_right">

  <div class="yellow-heading-banner">ORGANIZATION PROFILE</div>

  <div class="edit_profile_picture_wrapper">
    <%= link_to "< BACK TO OVERVIEW", org_overview_path, class: "org_back_to_overview_link" %>
    <div class="avatar_wrapper">
      <% if @organization.avatar_file_name.present? %>
          <%= image_tag @organization.avatar.url(:thumb) %>
      <% end %>
    </div>
    <%= link_to "Upload a new photo", "", class: "org_new_photo_link" %>
  </div>

  <%= render 'edit-form' %>
</div>