<div class="dash-content new-item-offer">
	<div class="brown-heading-banner">Donate items</div>
	
	<%= image_tag('donate-initial/Lucy.png') %>

	<p class='info'>
		Use this form to donate new and gently-used goods or in-kind services to animal organizations. Add, edit and delete item-offers at any time after posting via the ITEM-OFFERS section of My Dashboard. Organizations are responsible for shipping and/or transportation of donated items.
	</p>

	<%= render :partial => 'donor-form' %>
</div>