<div class="org_item_offer_overlay">

  <div class="header">REQUEST AN ITEM</div>

  <div class="event_image_container float_left">

  </div>

  <div class="details">
    <div class="header">Name of event, 2pm to 5pm</div>
    <div class="content">
      Attending volunteers: <span>00</span><br/>
      Total volunteers needed: <span>10</span><br/>
      <br/>

      <a>Name of Volunteers</a><br/>
      <a>Get listed here</a><br/>
      <a>And clicking on them</a><br/>
      <a>Will link to</a><br/>
      <a>Donor profile</a><br/>
    </div>
  </div>
</div>
