<div id="my_dash" class="float_left">
	
	<div id="my_dash_heading" class="blue_lighter_bg small_dash_heading">My Dashboard</div>
	
	<div id="my_dash_overview" class="my_dash_link beige_lighter_bg">
		<p class="my_dash_button_title">Overview</p><br/>
		<p class="my_dash_button_text">View donation history</p>
	</div>
	
	<div id="my_dash_offers" class="my_dash_link">
		<p class="my_dash_button_title">Item-Offers</p><br/>
		<p class="my_dash_button_text">View submitted item-offers</p>
	</div>
	
	<div id="my_dash_donations" class="my_dash_link">
		<p class="my_dash_button_title">Financial Donations</p><br/>
		<p class="my_dash_button_text">View financial donation history</p>
	</div>
	
	<div id="my_dash_volunteer" class="my_dash_link">
		<p class="my_dash_button_title">Volunteer</p><br/>
		<p class="my_dash_button_text">View volunteer calendar & past events</p>
	</div>

</div>