<%= render :partial => 'donordashnav' %>

<div class="whitespace clear"></div>

<%= render :partial => 'donormydash' %>


<div class="dash_content float_right">

	<div class="dash_brown_heading heading_label white">Donate items</div>
	
	<div class="smaller_whitespace"></div>
	
	<%= image_tag('donate-initial/Lucy.png') %>

	<div id="donate_items_text" class="brown">
		Instead of selling, throwing away, or storing unused items and supplies, post your<br/>
		surplus items on our item-offer board. Animal organizations will log in, search the<br/>
		board, and request the items they need. As a donor, you have complete control over<br/>
		who receives your donation. Organizations can also post their individual wishlists,<br/>
		which you can browse and then match your items directly.
		<br/><br/>
		<hr/>
		<br/>
		By choosing an option below, you can begin helping animal organizations, while<br/>
		removing unneeded items from your home.
	</div>

	<div class="dash_text_wrapper">
	
		<p class="big bold">Groups</p>
		
		<p class="small bold inline">Items</p>
		<p class="small inline">
		: Donate surplus inventory, overstock items, etc.; anything that could benefit an animal
		organization - you'll be surprised what it takes to run a shelter or rescue!
		</p>
		
		<br/>
		<br/>
		
		<p class="small bold inline">Other ways to give</p>
		<p class="small inline">
		: How about sponsoring a volunteer event? Hosting an adoption event in
		your facility? There are so many ways to get involved!
		</p>
		
		<br/>
		<br/>
		<br/>
		
		<p class="big bold">Individuals</p>
		
		<p class="small inline">
		Donate new/gently-used collars, leashes, laundry detergent, pet food, litter, and much,
		much more! Also visit the TIME section above to donate your time as a volunteer.
		</p>
		
		<br/>
		<br/>
		<br/>
		
		<p class="big bold">What do animal organizations need most?</p>
		
		<p class="small inline">
		If you're unsure whether an organization can benefit from your item, post an item-offer to
		the item-offer board and see who responds; you might be surprised! Alternatively, search
		wishlists by item category to see if an organization has already requested the item you'd like
		to donate.
		</p>
		
		<br/>
		<br/>
		<br/>
		
		<p class="big bold">Post an Item-offer. It's simple!</p>
		
		<p class="small inline">
		Step 1: Register or sign-in to your donor account.<br/>
		Step 2: Write your post title, description, and upload a photo of the item.<br/>
		Step 3: Post your item-offer!<br/>
		<br/>
		Your item-offer will be viewed by all of the animal organizations that are searching the site.<br/>
		To update or modify your item-offer post, login to your account at any time.<br/>
		</p>
		
	</div>
</div>

<!-- Some white space to separate content from footer a little bit more: -->
<div class="whitespace clear"></div>