<%= render :partial => 'donordashnav' %>

<div class="whitespace clear"></div>

<%= render :partial => 'donormydash' %>

<div class="float_right">

	<div class="dash_heading heading_label">Donation history at a glance</div>

	<br/>
	<div class="end_block blue_lighter_bg"></div>
</div>