<!DOCTYPE html>
<html>
<head>
	<title>Spared</title>
	<%= csrf_meta_tags %>
</head>

<body>
	<!-- Flash messages for Devise -->
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
	<%= yield %>
</body>
</html>
